:root {
  --text-color: #434455;
  --highlight-color: #4d5ae5;
  --background-color: #2e2f42;
  --hover-container: #f4f4fd;
}
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

h2 {
  color: var(--background-color);
}
p {
  color: var(--text-color);
}
.navbartwo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 112px;
  margin-bottom: 84px;
}
.navbartwo-link {
  padding: 12px 24px;

  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--highlight-color);
  text-align: center;
  background-color: var(--hover-container);
}

.navbartwo-link:hover {
  color: #f4f4fd;
  background-color: #4d5ae5;
  transition: 250ms;
}

.all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: static;
  margin-bottom: 120px;
  gap: 20px;
}

.all-list-container {
  flex-wrap: wrap;
  justify-content: center;

  display: block;
  position: static;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.overlay {
  position: static;
  overflow: hidden;
  width: 360px;
  height: 300px;
  background-color: var(--highlight-color);
  margin-bottom: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 250ms ease;
}

.overlay img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 250ms ease;
  transition: transform 0.3s;
}

.overlay:hover img {
  transform: translateY(-100%);
  background-color: var(--highlight-color);
}
.all-list-container img {
  display: block;
  width: 100%;
  height: auto;
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.32;
  font-size: 16px;
  line-height: 24px;
  
padding-bottom: 200px;
}

.all-list-container .text {
  width: 296px;
  height: 96px;
  color: var(--hover-container);
  position: relative;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  opacity: 0;
  transition: 250ms;
}

.all-list-container:hover .text {
  opacity: 1;
}
.all-list-container:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-list-container:hover img {
  transform: translateY(-100%);
  background-color: var(--highlight-color);
}

.style-footer {
  display: flex;
  background-color: #2e2f42;
  padding: 40px;
  justify-content: space-between;
}

.style-footer {
  display: flex;
  background-color: #2e2f42;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}

.logo-link-footer {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #f4f4fd;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
}

.footer-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.32px;
  margin-top: 17.5px;
}
.footer-socialmedia {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.socialmedia-subscribe {
  margin-bottom: 16px;
  color: white;
  font-size: 16px;
}
.socialmedia-link-f {
  display: flex;
  gap: 16px;
}

.footer-email {
  border: 2px solid white;
  background: none;
  border-radius: 4px;
  padding: 10px;
  width: 264px;
  background-color: none;
}
.footer-email::placeholder {
  color: white;
}
.subscribe-btn {
  margin-left: 24px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 8px 24px;
  background-color: var(--highlight-color);
  border: none;
  border-radius: 4px;
}

.subscribe-btn:hover {
  color: #4d5ae5;
  background-color: var(--text-white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*mobile menu*/
@media (min-width: 428px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
  }

  .word {
    text-align: center;
    font-size: 30px;
    margin-bottom: 8px;
  }
  .description {
    margin-bottom: 72px;
  }
  .navbar-links {
    width: 50px;
  }
  .navbar-link,
  .contact-info {
    display: none;
  }
  .socialmedia-link-f {
    margin-bottom: 0;
  }
  .svg-icon {
    display: none;
  }
  .style-footer {
    position: relative;
    align-items: center;
    text-align: center;
    gap: 60px;
  }
  .subscribe-btn {
    margin-bottom: 30px;
  }
  .menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu{
  display: none;
}
.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  .navbar-link{
    display: block;
    
  }
  .contact-info {
    display: block;
  }
  
  .word {
    text-align: left;
  }
  .description {
    margin-bottom: 72px;
  }

  .svg-icon {
    display: none;
  }
  .objective,
  .images {
    display: none;
  }
  .socialmedia-link-f {
    margin-bottom: 40px;
  }

  .style-footer {
    text-align: left;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 40px;
  }
  .subs{
    margin-left: 30px;
  }
  .subscribe-btn {
    margin-top: 60px;
    margin-right: 80px;
  
  }
  .menu-toggle {
    display: none;
  }
    .burger-icon{
    display: none;
  }
}

@media (min-width: 1158px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact-info {
    display: flex;
  }
  .svg-icon {
    display: flex;
  }
  .socialmedia-link-f {
    margin-bottom: 0;
  }
  .word {
    font-size: 20px;
  }
  .style-footer {
    text-align: left;
    display: flex;
    padding: 40px;
  }
  .subscribe-btn {
    margin-top: 30px;
  margin-left: 0px;
   
  }
    .burger-icon{
    display: none;
  }
  .subscribe-btn{
    margin-top: 65px;
  }
}

@media (max-width: 427px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
  }

  .word {
    text-align: center;
    font-size: 30px;
    margin-bottom: 8px;
  }
  .description {
    margin-bottom: 72px;
  }
  .navbar-links {
    width: 50px;
  }
  .navbar-link,
  .contact-info {
    display: none;
  }
  .socialmedia-link-f {
    margin-bottom: 0;
  }
  .svg-icon {
    display: none;
  }
  .style-footer {
    position: relative;
    align-items: center;
    text-align: center;
    gap: 70px;
  }
  .subscribe-btn {
    margin-top: 20px;
  }

}



@media (max-width: 767px) {
}

@media (max-width: 1157px) {
}
